@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}
.App {
  text-align: center;
}

:root {
  --bs-link-color: #1D1D1D;
    --bs-link-hover-color: #0e0e0e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 24px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ddd
}
.form-control:focus {
  border-color: #0e0e0e;
}
.form-check-input:checked {
  background-color: #0e0e0e;
  border-color: #0e0e0e;
}
.btn {
  padding: 10px 30px;
    font-size: 14px;
    border-radius: 6px;
}
.btn-success {
  background: #00BF787B;
  border: 1px solid #00BF78;
}
.custom-navigation {
  background: linear-gradient(287deg, #0c0c0c, #000000);
  padding: 8px 30px;
  position: fixed;
  top: 0;
  left: 380px;
  right: 0;
  transition: all .3s;
  z-index: 999;
}
.form-control,.form-select {
  border-color: #C1C1C1;
  padding: 10px 20px;
  border-radius: 6px;
  color: #000000;
  font-size: 14px;
  background-color: #f7f7f7;
}
.form-select:focus,.form-control:focus {
  border-color: #000;
  outline: 0;
  box-shadow: none;
}
.custom-navigation form {
  background: #ffffff57;
  border-radius: 4px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  border: 1px solid #000;
}

.custom-navigation form input {
  border: 0;
  outline: none;
  box-shadow: 0;
}

.btn-primary {
  background-color: #1D1D1D;;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1D1D1D;
  --bs-btn-border-color: #1D1D1D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #050505;
  --bs-btn-hover-border-color: #050505;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #050505;
  --bs-btn-active-border-color: #050505;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #252525;
  --bs-btn-disabled-border-color: #252525;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.side-wrp .logo-wrp h2 {
  color: #fff;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: 400;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-forth {
  font-size: 18px;
  color: #45484B;
}

.main-third {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.main-pera {
  font-size: 16px;
  color: #A5A5A5;
  margin-bottom: 6px;
}

.side-wrp {
  /* background: #428009; */
  background-image: url(./assets/sidebg_tg6zkz.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 380px;
  transition: all .3s;
}

.side-wrp .logo-wrp {
  margin-top: 0;
    padding: 13px 0;
    background-color: rgb(34 28 28 / 10%);
}

.side-wrp a {
  margin: 6px 0;
  color: #000;
  background: linear-gradient(96deg, rgba(255, 255, 255, 0.712), #909293b7);
  box-shadow: inset 0px 3px 6px #ECECEC;
  border: none;
  padding: 8px 16px;
  text-align: left;
  border-radius: 6px;
  font-weight: 600;
}
/* .side-wrp a.active, */
.side-wrp a:hover {
  background: linear-gradient(96deg, white, #909293);
  color: #000;
}
.side-nav a img {
  width: 20px;
  margin-right: 12px;
  vertical-align: sub;
  /* filter: invert(1); */
}
.side-wrp .logo-wrp .logo {
  width: 140px;
  margin-top: 20px;
}
.side-nav {
  margin-top: 20px;
    padding: 15px;
}
.full-height {
  margin: 0 0 0 380px;
  padding: 40px;
  margin-top: 76px;
  transition: all .3s;
  overflow: hidden; 
}

.custom-navigation .nav-toogle img {
  width: 30px;
}

.custom-navigation .nav-toogle {
  text-align: left;
  cursor: pointer;
  display: none;
}

.custom-navigation input[type="search"] {
  border: none;
}

.custom-navigation .search-btn {
  border: none;
}

.custom-navigation .search-btn img {
  width: 18px;
}

.custom-navigation .nav {
  align-items: center;
}

.custom-navigation .nav a {
  color: #707070;
}
.hide-sidebar .side-wrp {
  left: -100%;
}

.hide-sidebar .custom-navigation {
  left: 0;
}

.hide-sidebar .full-height {
  margin-left: 0;
}
.greet-text {
  text-align: left;
  margin-bottom: 60px;
  margin-top: 20px;
}

.greet-text h2 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0;
}

.greet-text p {
  color: #9ba58e;
  font-size: 16px;
  margin-bottom: 0;
}

.table-wrap {
  text-align: left;
  border: 1px solid #70707047;
  padding: 10px 0;
  border-radius: 6px;
  margin-top: 30px;
}
.table-wrap .main-third {
  padding: 10px 20px;
}

table tr {
    border-color: #70707057;
}
table {
  font-size: 14px;
}
table tr th {
  border: none;
    color: #000000;
    font-weight: 500;
    text-align: center;
}
table tr td,.table-striped>tbody>tr td:nth-of-type(odd),.table-striped>tbody>tr td:nth-of-type(even) {
  border-color: #000;
  border: none;
  background: transparent;
  box-shadow: none;
  color: #333333;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}
table.table-striped>tbody>tr td:nth-child(1) {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
}
table tr td button.btn {
  color: #8cc63e;
  padding: 0 2px;
  font-size: 12px;
}
.table>:not(caption)>*>* {
    box-shadow: none;
}
.chart-wrap {
  text-align: left;
  border: 1px solid #7c7c7c47;
  padding: 16px;
  border-radius: 8px;
}
.card .chart-wrap {
  padding: 0;
  border: none;
}

.flexcard.card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcard.card .card-body .text-center.row {
    text-align: left !important;
}

.flexcard.card .card-body img {
  width: 64px;
  object-fit: contain;
  margin-left: 10px;
}
.chart-wrap .feature-circular {
  width: 140px;
  margin: 20px auto 10px;
}

.chart-inner-content {
  border: 1px solid #70707047;
  padding: 10px 15px;
  border-radius: 20px;
}


.chart-wrap a {
  margin: 10px 0 30px;
}

.chart-wrap h5 {
  font-size: 15px;
  margin: 0;
}

.chart-wrap p {
  font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}

.chart-inner-content .main-forth {
  margin: 0;
}

.progress-bar-sec.chart-wrap .progress-bar-row {
  padding: 8px 12px;
  border: 1px solid #70707047;
  margin: 15px 0;
  border-radius: 10px
}

.progress-bar-sec.chart-wrap .progress-bar-row h6 {
  color: #45484B;
  font-size: 16px;
}

.progress-bar-sec.chart-wrap .progress-bar-row p {
  color: #45484B;
  font-size: 11px;
  text-align: right;
}

.progress-bar-sec.chart-wrap .progress-bar-row .progress {
  height: 7px;
}

.list-item ul li {
  list-style-type: none;
  color: #45484B;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  margin-top: 20px;
}

.list-item ul li:before {
  content: '';
  width: 17px;
  height: 17px;
  border: 3px solid #84E0BE;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 2px;
  left: -35px;
}

.list-item ul li p {
  font-size: 13px;
  font-weight: 400;
  color: #95989A;
  margin-bottom: 12px;
}

.list-item ul li:after {
  content: '';
  width: 2px;
  background: #70707047;
  position: absolute;
  top: 18px;
  bottom: -22px;
  left: -27px;
}
.list-item ul {
  padding-left: 35px;
}
.list-item ul li:last-child:after {
  display: none;
}

.create-new-form form .MuiOutlinedInput-root {
  border-radius: 35px !important;
  border: 1px solid #C1C1C1 !important;
  background: #F6F6F6;
  color: #434343;
  font-size: 16px;
  height: 50px;
  margin-bottom: 30px !important;
}

.create-new-form form .MuiOutlinedInput-root input {
  font-size: 16px !important;
  color: #434343 !important;
}

.create-new-form .image-field.col {
  text-align: left;
}

.create-new-form .image-field.col h4 {
  font-size: 26px;
  color: #000000;
  font-weight: 700;
}

.create-new-form input[type="file"] {
  height: 250px;
  width: 100%;
  background: #f7f7f7;
  font-size: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  position: relative;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
  vertical-align: top;
}

.create-new-form input[type="file"]:before {
  content: 'Add More Image';
  font-size: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  color: #C1C1C1;
  top: 56%;
  font-weight: 500;
  transform: translate(0px, -20%);
}

.create-new-form input[type="file"]:after {
  content: '+';
  background: #91CC3F;;
  left: 0;
  right: 0;
  top: 40%;
  padding: 8px 0;
  transform: translate(0px, -50%);
  margin: auto;
  width: 40px;
  height: 40px;
  position: absolute;
  color: #fff;
  font-size: 34px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
}
.custom-navigation .form-control {
  background: #8cc63e47;
  width: 220px;
  padding: 6px 20px;
  border-radius: 0;
  background: transparent;
  color: #fff;
}
.custom-navigation .form-control::placeholder {
  color: rgba(0, 0, 0, 0.644);
}

.custom-navigation .form-control:focus {
  box-shadow: none;
}
.dropdown-menu {
  margin-top: 10px;
}
.custom-navigation .search-btn {
  padding: 0 10px;
  background: transparent !important;
}
img.upload_photo_main {
  height: 250px;
  width: 100%;
  background: #f7f7f7;
  font-size: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  position: relative;
  border: 1px solid #C1C1C1;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
}
.custom-navigation .nav .dropdown .btn {
  padding: 0 20px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  border: none !important;
}

.custom-navigation .nav .dropdown .btn img {
  margin-right: 10px;
}
.mb-3.image-file {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.btn-align.col {
  text-align: left;
}

.login-form input {
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.541);
  font-size: 16px;
  color: #878787;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: none !important;
}

.login-form {
  /* padding:100px 15% 50px; */
}

.login-form p {
  padding: 20px 0;
  font-size: 16px;
  color: #878787;
}

label.form-check-label {
  padding-left: 10px;
  color: #878787;
}

.login-form a {
  text-align: right;
}



.login-form .sign-up-link a {
  text-decoration: none;
  border: 1px solid #0d6efd;
  padding: 9px 45px;
  font-size: 18px;
  border-radius: 30px;
  margin-top: px;
  display: inline-block;
}


.white-bg.col {
  background: #fff;
}


/* .loginbg:before {
  content: '';
  background-image: url(../src/assets/sebastian.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
} */
.leftlogo {
  background-image: url(../src/assets/sebastian_lexwgp.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftlogo:before {
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  background: linear-gradient(335deg, black, #222222);
  opacity: .6;
  width: 50%;
  z-index: -1;
}

.leftlogo img {
  width: 300px;
}
.loginbg {
  display: flex;
  align-items: center;
  height: 100vh;
  /* background-color: #F2F6FC; */
}

.loginbg {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login-form .form-check {
  text-align: left;
  padding: 0;
}

.login-form .form-check-input {
  border-color: #808495;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  margin: 2px 0 0 0 !important;
}



.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }

  .text-sm-right {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }

  .text-md-right {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }

  .text-lg-right {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }

  .text-xl-right {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}


.orline {
  border-bottom: 1px solid #CCCCCC;
  line-height: 1;
  margin: 30px 60px 40px;
}

.orline p {
  margin-bottom: 0;
  position: relative;
  bottom: -6px;
  background-color: #fff;
  padding: 0 14px;
  color: #CCCCCC;
  display: inline-block;
}

.linkend {
  margin-top: 100px;
  bottom: 20px;
}

.linkend a {
  color: #43425D;
}


@media (max-width: 1399px) {
  img.upload_photo_main {
    height: 200px;
  }
  .create-new-form input[type="file"] {
    height: 200px;
  }
  .side-wrp {
      width: 280px;
  }
  
  .full-height {
    margin-left: 280px;
    padding: 20px;
  }
  .custom-navigation {
    left: 280px;
    padding: 12px 30px;
  }
}
@media (max-width: 1199px) {
  .custom-navigation .nav-toogle {
    display: block;
  }
  body.hide-sidebar {
    overflow: hidden;
}
  .hide-sidebar:before {
    content: '';
    background-color: #0000008a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
  .hide-sidebar .side-wrp {
      left: 0;
  }
  .greet-text {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .side-wrp {
      left: -100%;
      top: 60px;
      z-index: 9;
  }
  .custom-navigation {
      left: 0;
      z-index: 9;
  }
  .full-height {
      margin-left: 0;
  }
}
@media (max-width: 991px) {
  .leftlogo{
    display: none;
  }
}
@media (max-width: 767px) {
  .input-group .btn {
      padding: 6px 14px;
  }
  .side-wrp .logo-wrp h2 {
    font-size: 32px;
}
  .side-wrp a {
    margin: 8px 0;
    padding: 12px;
  }
  .form-control, .form-select {
    padding: 10px 20px;
    font-size: 14px;
  }
  .table-responsive table thead tr th {
    white-space: nowrap;
}
table tr td, .table-striped>tbody>tr td:nth-of-type(odd), .table-striped>tbody>tr td:nth-of-type(even) {
  font-size: 12px;
}
table.table-striped>tbody>tr td:nth-child(1) {
  font-size: 14px;
}
.progress-bar-sec.chart-wrap .progress-bar-row h6 {
  font-size: 12px;
}
.main-forth {
  font-size: 16px;
}
.chart-wrap p {
  font-size: 12px;
}
  .btn {
      padding: 8px 30px;
      font-size: 16px;
  }
  .list-item ul li {

    font-size: 14px;
    margin-top: 10px;
  }
  .list-item ul li:after {
    bottom: -16px;
  }
    .chart-wrap a {
      margin: 8px 0 14px;
  }
    .main-third {
      font-size: 16px;
  }
  .greet-text h2 {
    font-size: 24px;
  }
  .greet-text p {
    font-size: 14px;
  }
  .greet-text {
    margin-bottom: 10px;
}
  .full-height {
    margin-top: 60px;
    padding: 10px;
}
  .custom-navigation {
      padding: 10px;
  }
  .custom-navigation form {
      display: none !important;
  }
  .custom-navigation .nav .dropdown .btn {
      font-size: 0;
  }

  .custom-navigation .nav .dropdown .btn:after {
      font-size: 14px;
  }
  
}
a.back-btn {
  text-align: left;
  display:inline-block;
  width: 100%;
  color: #000;
  font-size: 14px;
}
.home-appliance-list .back-btn{
  display:none;
}
.white-bg.list-page .text-center {
  display:none;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.override{
  display: flex !important;
  justify-content: flex-start !important;
  width: fit-content !important;
}

.label-styl{
  display: flex;
  margin-bottom: 4px;
  font-size: large;
  font-weight: 500;
}

.cus-btn{
  margin-bottom: 9px;
  margin-right: 9px;
}

.react-datetime-picker__wrapper {
  border-color: #C1C1C1;
  border-radius: 6px;
  background-color: #f7f7f7;
  margin-left: 8px;
}
/* .date-con{
  display: flex;
  flex-direction: "row";
  align-items: center;
  justify-content: space-between;
} */

.chat-name{
  font-size: 20px;
}

.chat-msg{
  font-size: 16px;
}

/*  post item styles */

.abs-cent-align{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.post-cont{
  margin-right: 12px;
  margin-bottom: 12px;
}

.post-img{
  width: 152px;
  height: 152px;
  object-fit: cover;
  border-radius: 12px;
}

.plus-cont{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.plus-icon{
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 12px;
}

.img-video-viewer{
  background-color: rgb(0, 0, 0, 0.8);
  /* z-index: 999; */
  /* width: 100%;
  height: 100%; */
  margin-top: 64px;
}

.like-styl{
  width: 23px;
  height: 23px;
  object-fit: contain;
  margin-right: 8px;
}

.comment-styl{
  margin-left: 12px;
}

.like-sec-p{
  font-size: 14px;
  margin-bottom: 0;
}


/* gallery styles */

.gallery-list{
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  overflow-x: scroll;
}

.gallery-item{
  object-fit: cover;
  width: 130px;
  height: 130px;
  margin-right: 6px;
  margin-left: 6px;
  cursor: pointer;
}

.date-picker-styl{
  width: 100%;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #C1C1C1;
}

/*  likes list styles */

.profile-pic {
  width: 39px;
  height: 39px;
  object-fit: cover;
  border-radius: 50px;
}

.username {
  font-size: 16px;
  margin-left: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.liked-icon-styl {
  width: 18px;
  height: 18px;
  object-fit: cover;
  right: -3px;
  bottom: -5px;
}

/* Comments List Modal */

.profile {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 8px;
}

.comment-Cont {
  /* background: #667080; */
  /* opacity: 20%; */
  background-color: rgb(102, 112, 128, 0.2);
  padding: 8px;
  border-radius: 15px
}

.cment-likes {
  padding: 8px;
}

.replies{
  padding: 8px 0px;
}

.all-replies {
  margin: 3px;
  font-size: 14px;
}

.line {
  width: 47px;
  border: 1px solid rgb(112, 112, 112);
}

.collapse-reply{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* button pressed affect */
.btn { 
  border-radius: 5px; 
  cursor: pointer; 
  outline: none; 
  transition: 0.2s all; 
} 
/* Adding transformation when the button is active */ 

.btn:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
}

.comment-desc {
  font-size: 14px;
}

.comment-time {
 font-size: 10px;
 margin-top: 4px;
}

.icon-styl {
 width: 15px;
 height: 15px;
 object-fit: contain;
 margin-right: 4px;
}

/* custom scrollbar styles */
/* width */
.cus-scrol::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
.cus-scrol::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.cus-scrol::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.cus-scrol::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
